# Dissimilarity (Tugas 1)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Create dataset from Google Drive
dataset_url = "https://raw.githubusercontent.com/MuhammadKurniaSani-me/Titanic-Dataset/main/dataset/train.csv"
df = pd.read_csv(dataset_url, index_col='PassengerId')

In [ ]:
df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
# Show dataset shape
number_of_columns = df.shape[1]

In [ ]:
# Show all columns for dataset
pd.set_option('display.max_columns', number_of_columns)
pd.set_option('display.max_rows', number_of_columns)

In [ ]:
# Show all columns from dataframe
df.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')

### Categorical/Nomimal Features


*   Survived
*   Embarked

In [ ]:
df[["Name","Survived", "Embarked"]].head(5)

,Name,Survived,Embarked
PassengerId,,,
1,"Braund, Mr. Owen Harris",0,S
2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,C
3,"Heikkinen, Miss. Laina",1,S
4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,S
5,"Allen, Mr. William Henry",0,S

### Change Values to 1/0


*   Take all values of 'Embarked' *series*
*   If values is S change to 1
*   If values is C change to 0

In [ ]:
# embark code
code_embark_for_cherbourg = "C"
code_embark_for_southampton = "S"

# binary value
value_of_one = 1
value_of_zero = 0

def change_code_embark_to_biner(embarked):
    return value_of_one if embarked == code_embark_for_southampton else value_of_zero

In [ ]:
# Update all values of 'Embarked' series
df["Embarked"] = df["Embarked"].apply(change_code_embark_to_biner)

In [ ]:
df[["Name","Survived", "Embarked"]].head(5)

,Name,Survived,Embarked
PassengerId,,,
1,"Braund, Mr. Owen Harris",0,1
2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,0
3,"Heikkinen, Miss. Laina",1,1
4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,1
5,"Allen, Mr. William Henry",0,1

In [ ]:
# CONSTAN VARIABLE
DECREMENT_BY_ONE = 1
INCREMENT_BY_ONE = 1

CONTINGENCY_TABLE_VALUE = {
    "q" : (1,1),
    "r" : (1,0),
    "s" : (0,1),
    "t" : (0,0),
}

In [ ]:
def get_series(df, idx, series):
    return df.loc[(idx), series]

In [ ]:
def get_dissimilarity_dataset(df, series_index = [], series = []):
    first_series = get_series(df, series_index[0], series)
    second_series = get_series(df, series_index[1], series)
    dataset = pd.concat([first_series,second_series],axis=1)
    return dataset.T

In [ ]:
get_dissimilarity_dataset(df, [1,2], ["Survived", "Embarked"]).T

          1  2
Survived  0  1
Embarked  1  0

In [ ]:
df.loc[0:5, ["Survived", "Embarked"]]

             Survived  Embarked
PassengerId
1                   0         1
2                   1         0
3                   1         1
4                   1         1
5                   0         1

In [ ]:
def count_contingency_value(df, start_index = 0, last_index = 1):

    CONTINGENCY_VALUE = {
        "q" : 0,
        "r" : 0,
        "s" : 0,
        "t" : 0,
    }

    column_range = df.shape[1]

    for column in range(column_range):
        for value in CONTINGENCY_TABLE_VALUE:
            item = list((tuple(df.loc[(start_index):(last_index), df.columns[column]]) == CONTINGENCY_TABLE_VALUE[value], value))
            if item[0] == True:
                if item[1] == "q":
                    CONTINGENCY_VALUE["q"] += 1
                if item[1] == "r":
                    CONTINGENCY_VALUE["r"] += 1
                if item[1] == "s":
                    CONTINGENCY_VALUE["s"] += 1
                if item[1] == "t":
                    CONTINGENCY_VALUE["t"] += 1

    return CONTINGENCY_VALUE

In [ ]:
# d(1,2)
df_1_2 = get_dissimilarity_dataset(df, [1,2], ["Survived", "Embarked"])

In [ ]:
c_d_1_2 = count_contingency_value(df_1_2, 1, 2)

In [ ]:
# d(1,3)
df_1_3 = get_dissimilarity_dataset(df, [1,3], ["Survived", "Embarked"])

In [ ]:
c_d_1_3 = count_contingency_value(df_1_3, 1, 3)

In [ ]:
# d(1,4)
df_1_4 = get_dissimilarity_dataset(df, [1,4], ["Survived", "Embarked"])

In [ ]:
c_df_1_4 = count_contingency_value(df_1_4, 1, 4)

In [ ]:
# d(1,5)
df_1_5 = get_dissimilarity_dataset(df, [1,5], ["Survived", "Embarked"])

In [ ]:
c_df_1_5 = count_contingency_value(df_1_5, 1, 5)

### Dissimilarity Binary Assymetric Value Formula

$$
\frac{r + s}{q + r + s}\
$$

In [ ]:
def measure_dissimilarity_binary_value_assymetric_distance(contingency_value):

    return (contingency_value["r"] + contingency_value["s"]) / (contingency_value["q"] + contingency_value["r"] + contingency_value["s"])

In [ ]:
d_1_2 = measure_dissimilarity_binary_value_assymetric_distance(c_d_1_2)
d_1_3 = measure_dissimilarity_binary_value_assymetric_distance(c_d_1_2)
d_1_4 = measure_dissimilarity_binary_value_assymetric_distance(c_d_1_2)

In [ ]:
d_1_2

1.0

In [ ]:
d_1_3

1.0

In [ ]:
d_1_4

1.0